---
---
  
@import "{{ site.theme }}";

.main-container {
  max-width: 1800px !important;
  margin-left: auto;
  margin-right: auto;
}

div.main-container {
  max-width: 1800px !important;
  margin-left: auto;
  margin-right: auto;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }